.all-photos{
  width: 90%;
  overflow: hidden;
  background-color: rgb(235, 235, 235);
  margin: 20px auto;
  padding: 20px 0px;
  justify-content: center;
  align-content: center;
}
.photos{
  display: grid;
  float: left;
  background-color: rgb(235, 235, 235);
  grid-gap: 10px;
  width: 22%;
  margin: 40px 30px 0px 20px;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*overflow: hidden*/
}
.photos img{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 30px;
  /*flex-shrink: 0;*/
  /*min-width: 22%;*/
  /*min-height: 30%*/
}
.photos:hover{
  opacity: 0.9;
  transform: scale(0.8);
}
.modal-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background-color: white;
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-radius: 12px;
  padding: 20px;
}
.modal img{
  align-self: center;
  width: 50%;
  height: 90%;
  border-radius: 8px;
}
.modal p{
  width: 40%;
  padding-left: 30px;
  padding-top: 50px;
  font-size: 20px;
  font-family: monospace;
}
.close {
  width: 32px;
  height: 32px;
  border: none;
  opacity: 0.3;
  font-size: 32px;
}
.close:hover {
  opacity: 1;
}


